<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>recipe</title>
</head>
<body>
<header>
    <header class="header" id="header" style="background-color: cornsilk">
        <nav>
            <a href="#"><img class="nav_logo" src="images/logo_cutlery.png" alt="logo"></a>
            <ul class="nav_block">
                <!--            <li><a href="#">SupaSoupa</a></li>-->
                <li><a href="views/your-recipes.html">Your Recipies</a></li>
                <li><a href="views/about.html">About</a></li>
                <li>
                    <button><a href="views/login.html">Login</a></button>
                </li>
            </ul>
        </nav>
    </header>
</header>
<main>
  <h2> name of recipe</h2>
    <img src="" alt="">
    <p>macros</p>
    <p>ingredients</p>
    <p>steps</p>

</main>
<footer>

</footer>
</body>
</html>