<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>your recipes</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/your-recipes.css">
</head>
<body>
<header class="header" id="header" style="background-color: cornsilk">
    <nav>
        <a href="../index.html"><img class="nav_logo" src="../images/logo_cutlery.png" alt="logo"></a>
        <ul class="nav_block">
            <!--            <li><a href="#">SupaSoupa</a></li>-->
            <!--            <li><a href="views/your-recipes.html">Your Recipies</a></li>-->
            <li><a href="views/about.html">About</a></li>
            <li>
                <button><a href="views/login.html">Login</a></button>
            </li>
        </ul>
    </nav>
</header>
<main>
    <h2>Your Recipies</h2>
    <section class="recipes" id="recipes">
        <div class="recipe">
            <img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem dolor, error illo itaque modi mollitia
                porro provident quia quo repellendus sed suscipit tenetur unde vel voluptates. Corporis exercitationem
                inventore modi.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur cumque distinctio ipsum libero
                maiores pariatur perspiciatis quas qui! Animi commodi earum enim et neque quo rem repellat veniam.
                Aliquam, fuga!</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A animi aperiam aspernatur debitis delectus,
                dicta ea inventore magnam maxime molestias neque odit praesentium provident quasi, quibusdam repellat
                repellendus sed sequi.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, aspernatur at blanditiis
                consectetur doloribus ducimus eaque eos esse eum harum ipsa nisi placeat quasi, quod sequi unde vero
                voluptate voluptatem.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias consectetur dignissimos eos error id ipsa
                libero numquam, porro soluta voluptatibus. Aliquam atque eveniet exercitationem fugiat itaque minus quo
                repellendus repudiandae.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci corporis ea eaque enim explicabo fuga
                iusto officia possimus quis sint! A blanditiis et iusto numquam, obcaecati quae suscipit totam
                voluptates!</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque, culpa cupiditate deleniti dolor
                dolorem eaque facilis harum hic ipsa iste natus necessitatibus nihil numquam, obcaecati sed ullam vitae.
                Error?</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab architecto asperiores aspernatur atque
                deserunt et eum, ex illum iusto labore nobis odio, placeat provident quam quas rem similique veniam
                voluptas?</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores eaque id itaque iure tempora.
                Blanditiis dignissimos ea impedit minima nemo nulla perferendis vel voluptatibus. Maiores natus optio
                quam rerum voluptates.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid aperiam debitis deserunt eius error eum
                excepturi fuga illo, iusto libero minus natus neque quaerat quidem repellendus reprehenderit rerum
                similique suscipit.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid commodi cum delectus dolorem, dolores
                doloribus est hic id itaque minus necessitatibus odio omnis possimus quis rerum similique tenetur veniam
                voluptatum!</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem eaque expedita facilis fugiat quidem
                repellat tempore totam! Error molestiae optio quae quibusdam rem soluta velit? Dolores mollitia quaerat
                repudiandae ullam.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur dolor itaque labore laborum
                nobis quae sunt tempore, veniam voluptas? Accusamus blanditiis enim est ipsum nulla quaerat quo sapiente
                tenetur.</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque est explicabo fugiat hic, id ipsam,
                necessitatibus nihil, omnis quibusdam quidem vitae voluptas voluptatibus! Et expedita nihil nulla
                pariatur, ut velit!</p>
        </div>
        <div class="recipe"><img src="../images/logo_cutlery.png" alt="">
            <h3>recipe</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ad adipisci dolore ea laboriosam magni mollitia
                quae quam repellendus voluptates voluptatibus? Amet dolorem eius hic id inventore iste minima
                perspiciatis ratione.</p>
        </div>
    </section>
</main>
</body>
</html>